.InputFormWrapper {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroupWrapper {
  width: 100%;
  display: flex;
  gap: 20px;
}

.inputWrapper {
  width: 100%;
  margin: 5px 0;
}

.input,
.companyDescription {
  width: 100%;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in;
}

.companyDescription {
  min-height: 200px !important;
}

.SaveInfoWrapper button {
  padding: 10px 30px !important;
}
