/* Modal css start here  */

.openModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.164);
  transition: top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.3s ease-in-out;
  z-index: 1000;
}

.modalContent {
  max-width: 750px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid var(--gray-100, #d0d3d9);
  background: var(--base-white, #fff);
  box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  animation: fade-in 0.5s linear;
  overflow: auto;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -55%);
    transition: all 0.5s linear;
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 0.5s linear;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -55%);
  }
}

/* Animation */

@keyframes fadeInUp {
  from {
    opacity: 0;
    margin-top: 20px;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.modalTitle {
  color: var(--gray-900, #2b2f38);
  text-align: center;
  font-family: "roobertMedium", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.closeModalIcon {
  cursor: pointer;
}
/* Modal css end here  */

.AddEducationFormWrapper {
  width: 100%;
}

.inputWrapper {
  width: 100%;
  margin: 15px 0;
}

.inputLabel {
  font-weight: 500;
  font-size: 14px;
}

.inputGroup {
  display: flex !important;
  justify-content: space-between !important;
  gap: 30px;
}

.singleInputWrapper {
  width: 100%;
}

.input {
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: 14px;
  color: #2b2f38;
}

.textareaInput {
  resize: none;
}

.input::placeholder {
  font-family: var(--primary-font);
}

.saveBtnWrapper {
  display: flex;
  justify-content: flex-end;
}

.saveBtnWrapper button {
  padding: 10px 40px;
  background-color: var(--primary-color);
  color: var(--base-white);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .inputGroup {
    flex-direction: column;
  }
  .modalContent {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0, 0);
    animation: fade-in 0.5s linear;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translate(0, -55%);
      transition: all 0.5s linear;
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 0.5s linear;
    }
  }
}
