.findYourJobSection {
  width: 100%;
  padding: 50px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../public/jobFindingBg.jpg");
}

.pageTitle {
  text-align: center;
  line-height: 40px;
  font-size: 42px;
  margin-bottom: 10px;
  font-family: "rocGroteskBold", sans-serif;
}

.pageDesc {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.dreamJob {
  color: var(--primary-color);
}

@media screen and (max-width: 991px) {
  .pageTitle {
    line-height: 35px;
    font-size: 36px;
    margin-bottom: 10px;
    font-family: "rocGroteskBold", sans-serif;
  }

  .findYourJobSection {
    padding: 50px 0;
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 786px) {
  .pageTitle {
    line-height: 32px;
    font-size: 26px;
    margin-bottom: 5px;
  }

  .pageDesc {
    font-weight: 500;
  }
}
