.footerSection {
  width: 100%;
  padding-top: 50px;
  background: var(--footer-bg);
}

.footerWrapper {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
}

.footerListTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--base-white);
  font-family: "Poppins", sans-serif;
}

.logoAndDesc {
  max-width: 400px;
  width: 100%;
}

.logo {
  width: 100px;
  margin-bottom: 30px;
}

.aboutCompany {
  color: var(--base-white);
  font-family: "Poppins", sans-serif;
}

.footerList {
  list-style: none;
}

.linkItem {
  line-height: 30px;
  color: #cbd1df;
  text-decoration: none;
}

.EmailSubscribtion {
  display: flex;
  margin-top: 15px;
}

.subScribtionEmailInput {
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

.copyRightTextWrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  border-top: 1px solid #ddd;
  font-family: "Poppins", sans-serif;
}

.copyrightText {
  font-size: 14px;
  color: #81848b;
}

.socialMediaLink {
  display: flex;
  gap: 20px;
}

.socialMediaIcon {
  width: 35px;
  height: 35px;
  color: var(--base-white);
  border-radius: 50px;
  background-color: #363a45;
  padding: 8px;
  transition: all 0.3s ease-in;
}

.socialMediaIcon:hover {
  cursor: pointer;
  background-color: #4f5157;
}

@media screen and (max-width: 1024px) {
  .footerWrapper {
    flex-grow: 1;
    flex-basis: 50%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 550px) {
  .footerWrapper {
    flex-direction: column;
    gap: 30px;
  }

  .copyRightTextWrapper {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
