.JobDetailsPageWrapper {
  max-width: 860px;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
}

.JobDetailsWrapper {
  width: 100%;
}

.jobTitle::first-letter {
  text-transform: capitalize;
}

.jobTitle {
  font-size: 20px;
  font-family: var(--primary-font);
  margin-bottom: 5px;
  color: #3f3f3f;
}

.companyName {
  font-size: 16px;
  font-family: var(--primary-font);
  margin-bottom: 15px;
  color: #8a8a8a;
}

.InHouseJob {
  display: flex;
  gap: 10px;
  align-items: center;
}

.InHouseJobLocation {
  font-size: 15px;
  font-family: var(--primary-font);
  color: #242424;
  margin-bottom: 2px;
}

.basicJobInfoWrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  background: #fafafb;
  border-radius: 20px;
}

.basicJobCard {
  padding: 16px 24px;
}

.basicJobHeader {
  display: flex;
  gap: 5px;
}

.basicJobInfoTitle {
  font-size: 14px;
  font-family: var(--primary-font);
  margin-bottom: 15px;
  color: #8a8a8a;
  text-transform: uppercase;
}

.basicJobInfoValue {
  font-size: 14px;
  font-family: var(--primary-font);
  color: #8a8a8a;
}

.jobBodyInfo {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.jobPostedAt {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-family: var(--primary-font);
  background-color: rgba(215, 255, 155, 0.267);
  color: #05c715;
  padding: 3px 6px;
  border-radius: 5px;
}

.job {
  font-size: 12px;
  font-family: var(--primary-font);
  background-color: rgba(167, 167, 167, 0.164);
  color: #8f8b8b;
  padding: 3px 6px;
  border-radius: 5px;
}

.moreOptionWrapper {
  margin-top: 35px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.applicantsWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #8a8a8a;
  font-size: 14px;
  font-family: var(--primary-font);
}

.iconWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.emptyHeart,
.fillHeart {
  width: 25px;
  height: 25px;
  color: rgb(223, 21, 21);
  cursor: pointer;
}

.savedJobLoadingAnim {
  width: 25px;
  height: 25px;
}

.editJobIcon {
  padding: 5px;
  font-size: 33px;
  font-weight: 200;
  border-radius: 50px;
  color: var(--primary-color);
  transition: all 0.3s ease-in;
}

.editJobIcon:hover {
  cursor: pointer;
  background-color: #faf5f5;
  transition: all 0.4s linear;
}

.line {
  border-top: 0;
  border-bottom: 1px solid #d8d6d6;
  border-right: 0;
  border-left: 0;
}

.title {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  color: #333;
  font-family: var(--primary-font);
}

.jobDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 8px;
  color: #484848;
  font-family: var(--primary-font);
  white-space: pre-line !important;
}

/* Skills section CSS start here  */

.skillsWraper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  margin: 8px 0;
}

.skill {
  background: #f8f8f8;
  color: #666;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 15px;
  line-height: 16px;
  font-family: var(--primary-font);
}

.lowerTitle {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 1.25;
  font-weight: 600;
  color: #333;
  font-family: var(--primary-font);
}
.numberOfOpeningWrapper {
  margin-bottom: 20px;
}

.applyNowBtnWrapper button {
  padding: 10px 40px;
}

/* Skills section CSS end here  */

.applyNowBtn {
  cursor: no-drop !important;
  background-color: rgb(192, 191, 191) !important;
}

/* JOB AND SIMILAR JOB CSS START HERE */

.goBack {
  width: 76px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f1f1f5;
  padding: 7px 10px;
  color: #696974;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: all 0.3s;
}

.goBack:hover {
  cursor: pointer;
  background-color: #dddde2;
}

.back {
  color: #696974;
  text-decoration: none;
}

.jobAndSimilarJobWrapper {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.similarJobs {
  max-width: 300px;
  width: 100%;
}

.simlilarKJobText {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.similarJobWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
