.signUpPageWapper {
  height: auto;
}

.signUpPageContent {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.signUpPageContent {
  display: flex;
}

.forFreeText {
  color: var(--secondary-color);
}

.signUpLeft {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15ae81;
  background-image: url("../../assets/signin_images/bg.png");
}

.signUpInner {
  width: 365px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.QuatationImage {
  position: absolute;
  top: -100px;
  left: -35px;
  width: 70px;
  height: auto;
}

.signUpInner::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 1px;
  height: 95%;
  opacity: 0.5;
  background: #fff;
}

.signUpInner::before {
  content: "";
  position: absolute;
  top: 57%;
  left: 0;
  width: 100px;
  height: 1px;
  opacity: 0.5;
  background: #fff;
}

.findYourJobTitle {
  font-size: 54px;
  font-style: normal;
  font-weight: 800;
  line-height: 65px;
  color: #fff;
  margin-bottom: 70px;
}

.browseJobText {
  width: 240px;
  color: #fff;
  align-self: flex-end;
  margin-bottom: 60px;
}

.leftLogo {
  width: 174px;
  align-self: center;
}

.formWrapper {
  max-width: 500px;
  width: 100%;
}

.passwordFiled {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px;
}

.password {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.password_Eye_Off {
  position: absolute;
  top: 17px;
  right: 14px;
  cursor: pointer;
}

.password_Eye {
  position: absolute;
  top: 17px;
  right: 14px;
  cursor: pointer;
}

.passwordMustBe8 {
  opacity: 0;
  color: var(--gray-600, #5d6679);
  font-size: 14px;
  font-family: "roobertReg", sans-serif;
  line-height: 20px;
  transition: all 0.3s ease-in-out;
}

.passwordError {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.errorInputBorder {
  border: 1px solid var(--error-300, #f5827a) !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.signUpRightContent {
  width: 50%;
  background: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpformWrapper {
  max-width: 500px;
  width: 100%;
}

.signUpText {
  color: var(--base-black);
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 10px;
  font-family: var(--primary-font);
}

.signUpSologan {
  color: #92929d;
  margin-bottom: 30px;
}

.socilSignIn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.social {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #d0d3d9);
  background: var(--base-white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: all 0.3s ease-in-out;
}

.social:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--gray-300, #989fad);
  background: var(--gray-50, #f0f1f3);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.social span {
  color: var(--gray-900, #2b2f38);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  line-height: 24px;
}

.alreadyHaveAnAccount {
  font-family: "poppins", sans-serif;
}

.cerateAccountBtnWrapper {
  display: flex;
}

.cerateAccountBtnWrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  border-radius: 5px;
}

.buttonLoading {
  width: 18px;
  height: 18px;
}

.orWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 24px 0;
}

.leftLine {
  width: 100%;
  height: 1px;
  background: var(--gray-200, #eaecf0);
}

.orText {
  color: var(--gray-600, #475467);
  text-align: center;
  font-size: 14px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  line-height: 20px;
}

.rightLine {
  width: 100%;
  height: 1px;
  background: var(--gray-200, #eaecf0);
}

.signUpContentWrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 200px;
}

.greetingText {
  width: 100%;
  margin: 25px 0;
}

.greeting {
  font-size: 15px;
  text-align: center;
  font-family: var(--primary-font);
}

.greetingTag {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  font-family: var(--primary-font);
}

.signUpContent {
  max-width: 650px;
  width: 100%;
  padding: 10px;
}

.progressBar {
  height: 7px;
  width: 100%;
  border-radius: 50px;
  background-color: #ebe7e7;
  position: relative;
}

.innerProgressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  border-radius: 50px;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in;
}

.AccountInfo {
  width: 100%;
  margin-top: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.signUpLink {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

.inputGroup {
  display: flex;
  gap: 10px;
}

.inputWrapper {
  width: 100%;
  padding: 10px 0;
}

label {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.651);
  font-family: var(--primary-font);
}

.labelAndErrorWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.labelAndErrorWrapper span {
  margin-bottom: 6px;
}
/* Error message */

.errorWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
  transition: all 0.4s ease;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--primary-font);
}

.input {
  width: 100%;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-family: var(--primary-font);
  transition: all 0.3s ease-in;
}

.inputError {
  border: 1px solid red;
}

.input:focus {
  border: 1px solid var(--primary-color);
}

.input::placeholder {
  font-size: 13px;
}

.accountTypeWrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Option css stat here  */
.optionWrapper {
  display: flex;
  flex-wrap: wrap;
}

.option {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 50px;
  font-family: var(--primary-font);
  transition: all 0.3s ease-in-out;
}

.option:hover {
  border: 1px solid var(--primary-color);
}

.selected {
  /* background-color: #007bff; */
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
  color: var(--base-white);
}

.nextBtnWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.nextBtnWrapper button {
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 16px !important;
}

.nextBtnWrapper button:hover {
  background-color: var(--primary-hover);
  transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
  .signUpPageContent {
    flex-direction: column;
  }

  .signUpLeft {
    display: none;
  }

  .signUpRightContent {
    width: 100%;
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .signUpText {
    color: var(--base-black);
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 8px;
    font-family: var(--primary-font);
  }
  .signUpSologan {
    font-size: 16px;
    color: #92929d;
    margin-bottom: 15px;
  }

  .signUpContent {
    padding: 15px;
  }
}

@media screen and (max-width: 500px) {
  .signUpText {
    color: var(--base-black);
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .signUpSologan {
    font-size: 14px;
    color: #92929d;
    margin-bottom: 10px;
  }

  .option {
    padding: 8px 10px;
    font-size: 13px;
  }
}

@media screen and (max-width: 300px) {
  .accountTypeWrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
