.applyJobWrraper {
  max-width: 880px;
  width: 100%;
  margin: 48px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.jobTitle {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 700;
  color: #333;
  font-family: var(--primary-font);
}

.aboutTheJob {
  font-family: var(--primary-font);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.jobDescription {
  font-size: 16px;
  line-height: 23px;
  color: #333;
  padding-bottom: 20px;
  font-family: var(--primary-font);
}

.assessmentQuestion {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.57142857;
  font-weight: 500;
  font-family: var(--primary-font);
  word-break: break-word;
}

.coverLetterInput {
  width: 100%;
  min-height: 150px;
  resize: none;
  padding: 16px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--input-Border-Color);
  font-family: var(--primary-font);
  transition: all 0.3s linear;
}

.coverLetterInput::placeholder {
  font-family: var(--primary-font);
}

.coverLetterInput:focus {
  border: 1px solid var(--primary-color);
}

.confirmYouravalibility {
  font-size: 14px;
  line-height: 1.57142857;
  color: #333;
}

.avalibilityInput {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.avalibilityInputWrapper {
  display: flex;
  flex-direction: 20px;
}

.termsAndCondition {
  margin: 30px 0 20px;
}

.submitApplication {
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
}

.fileInputCover {
  position: relative;
  width: 100%;
  padding: 16px;
  overflow: hidden;
  border-radius: 10px;
  background: var(--Natural-2, #f1f1f5);
}

.fileInput {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: var(--base-black);
  line-height: 22px;
  text-transform: uppercase;
  border: 1px solid #0070d2;
  cursor: pointer;
}

.insideFileInput {
  display: flex;
  gap: 5px;
  align-items: center;
}

.fileuploadedName {
  font-size: 14px;
  margin-top: 8px;
  color: #8a8989;
}

.applyDisableBtn {
  cursor: no-drop !important;
  background-color: rgb(192, 191, 191) !important;
}

@media screen and (max-width: 768px) {
  .applyJobWrraper {
    padding-bottom: 50px;
  }
  .jobTitle {
    font-size: 26px;
  }

  .avalibilityInput {
    gap: 10px;
  }

  .avalibilityLabel {
    line-height: 24px;
  }

  .attachSVG {
    width: 16px;
    height: 16px;
  }

  .attachResume {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px) {
  .jobTitle {
    font-size: 22px;
  }
}
