.applyJobWrraper {
  max-width: 880px;
  width: 100%;
  margin: 48px auto;
}

.jobTitle {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 700;
  color: #333;
  padding-bottom: 20px;
  font-family: var(--primary-font);
}

.aboutTheJob {
  font-family: var(--primary-font);
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
}

.jobDescription {
  font-size: 16px;
  line-height: 23px;
  color: #333;
  padding-bottom: 20px;
  font-family: var(--primary-font);
}

.coverLetterText {
  color: #333;
  font-family: var(--primary-font);
  font-size: 24px;
  line-height: 1.33333333;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;
}

.assessmentQuestion {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.57142857;
  font-weight: 500;
  font-family: var(--primary-font);
  word-break: break-word;
}

.coverLetterInput {
  width: 100%;
  min-height: 150px;
  resize: none;
  padding: 16px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--input-Border-Color);
  font-family: var(--primary-font);
  transition: all 0.3s linear;
}

.coverLetterInput::placeholder {
  font-family: var(--primary-font);
}

.coverLetterInput:focus {
  border: 1px solid var(--primary-color);
}

.avalibility {
  font-size: 24px;
  line-height: 1.33333333;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 16px;
  color: #333;
}

.confirmYouravalibility {
  font-size: 14px;
  line-height: 1.57142857;
  color: #333;
}

.avalibilityInput {
  margin: 15px 0 25px;
}

.termsAndCondition {
  margin-top: 30px;
  margin-bottom: 25px;
}

.submitApplication {
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
}
